.logo {
    width: 100px;
    height: 70px;
}

.avatar {
width: 30px;
position: relative;
bottom: 6px;
}

.dropdownGeneres{
    border: 2px solid white;
    text-decoration: none;
    position: relative;
    top: 6px;
    
}

.piecontainer {
    margin-top: 80px;
}

.avatarProfile {
    width: 150px;
    height: 150px;
    position: relative;
    right: 44px;
} 

.h1title{
    font-size: 50px;
}

.striveStudent {
background-color: rgba(240, 248, 255, 0.603);
padding: 3px;

}

